@import "core/core";

@include sprites($spritesheet-sprites);
@include colors($colors);

body {
  height: 100vh;
  color: #333;
  overflow: hidden;
  background: #43cea2;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  font-family: 'Roboto';
}

.push-left {
  float: left;
}

.push-right {
  float: right;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.mp-icon {
  display: inline-block;
  &::before {
    content: '';
    display: inline-block;
  }
}

.mp-icon--piggy {
  font-size: 36px;
  color: #616161;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  &::before {
    content: "\e225";
  }
}

.mp-block {
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.mp-rounded-btn {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
  background-color: #f5f5f5;
  color: #fff;
  overflow: hidden;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  cursor: pointer;
  &--dark {
    color: #444;
  }
}

.mp-floating-btn {
  @extend .mp-rounded-btn;
  z-index: 1500;
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #2196f3;
  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
  }
}

.mp-input {
  border: 0;
  background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: rgba(0, 0, 0, 0);
  transition: background 0s ease-out;
  box-shadow: none;
  height: 46px;
  line-height: 46px;
  font-size: 17px;
  &:focus {
    outline: none;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    transition-duration: 0.3s;
  }
}

.mp-input-btn {
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  color: #616161;
}

.mp-lobby {
  height: 100%;
  padding-top: 1px;
  &__title {
    text-align: center;
    &__text {
      font-family: 'Kaushan Script';
      font-size: 40px;
      line-height: 65px;
      color: #fff;
    }
  }
  &__users {
    @extend .mp-block;
    @extend .col-centered;
  }
  &__add-user {
    @extend .mp-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.mp-user {
  display: flex;
  align-items: center;
  padding: 10px 0;
  &__avatar {
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    flex-shrink: 0;
    .mp-icon {
      vertical-align: middle;
    }
  }
  &__info {
    margin: 0 15px;
  }
  &__money {
    font-size: 13px;
    line-height: 10px;
  }
  &__name {
    font-size: 17px;
  }
  &--inline {
    padding: 10px;
    margin: 0 10px;
    @extend .mp-block;
    flex-shrink: 0;
  }
  &--block {
    border-bottom: 1px solid #E0E0E0;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
    &:first-child {
      padding-top: 0;
    }
  }
}

.mp-bank {
  padding-top: 1px;
  height: 100%;
  &__users {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__control {
    @extend .mp-block;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    margin: 0;
    border-radius: 0;
    &__user:last-child {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }
    &__calc {
      display: inline-flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    &__calc .mp-icon {
      opacity: .5;
    }
    &__calc--active {
      background: #e0e0e0;
    }
  }
}


.mp-calc {
  background: #e0e0e0;
  position: absolute;
  margin-bottom: 10vh;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 100%;
  &__input {
    padding: 0 30px;
    .mp-input {
      font-family: 'Digital7';
      font-size: 35px;
      text-align: right;
      height: 10vh;
    }
  }
  &__buttons {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
  }
  &__button {
    position: relative;
    width: 33.33%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__inner {
      font-size: 40px;
      color: #444;
    }
  }
}
