.mp-bank.col-xs-12.col-sm-10.col-lg-5.col-centered
  .mp-bank__users
    .mp-user.mp-user--inline(ng-repeat="user in vm.users" ng-click="vm.addToTransfer(user)")
      .mp-user__avatar(class="mp-color--{{ ::user.color }}")
        .mp-icon(class="mp-icon--{{ ::user.icon }}")
  .mp-bank__control
    .mp-bank__control__user.col-xs-5.col-sm-5.col-lg-5(ng-click="vm.removeFromTransfer('from')")
      .mp-user
        .mp-user__avatar(class="mp-color--{{ vm.transfer.from ? vm.transfer.from.color : 'grey-light' }}")
          .mp-icon(class="mp-icon--{{ vm.transfer.from ? vm.transfer.from.icon : 'piggy' }}")
        .mp-user__info
          .mp-user__name {{ vm.transfer.from ? vm.transfer.from.name : 'Bank' }}
          .mp-user__money {{ vm.transfer.from ? vm.transfer.from.money : 'infinity' }}
    .mp-bank__control__calc.mp-bank__control__calc--active.col-xs-2.col-sm-2.col-lg-2
      i.mp-icon.mp-icon--dialpad
    .mp-bank__control__user.col-xs-5.col-sm-5.col-lg-5(ng-click="vm.removeFromTransfer('to')")
      .mp-user
        .mp-user__info
          .mp-user__name {{ vm.transfer.to ? vm.transfer.to.name : 'Bank' }}
          .mp-user__money {{ vm.transfer.to ? vm.transfer.to.money : 'infinity' }}
        .mp-user__avatar(class="mp-color--{{ vm.transfer.to ? vm.transfer.to.color : 'grey-light' }}")
          .mp-icon(class="mp-icon--{{ vm.transfer.to ? vm.transfer.to.icon : 'piggy' }}")
  .mp-calc
    .mp-calc__input.clearfix
      input(type="text", ng-model="vm.amount", placeholder="0").mp-input.col-xs-12.col-sm-12.col-lg-12
    .mp-calc__buttons
      .mp-calc__button(ng-click="vm.doTransfer()")
        .mp-calc__button__inner M
      .mp-calc__button(ng-click="vm.transfer.reverse()")
        .mp-calc__button__inner
          .mp-rounded-btn.mp-rounded-btn--dark
            i.glyphicon.glyphicon-refresh
      .mp-calc__button(ng-click="vm.doTransfer()")
        .mp-calc__button__inner K
      - each val in [ 7, 8, 9, 4, 5, 6, 1, 2, 3  ]
        .mp-calc__button(ng-click="vm.addToAmount(#{val})")
          .mp-calc__button__inner= val
      .mp-calc__button(ng-click="vm.clearAmount()")
        .mp-calc__button__inner C
      .mp-calc__button(ng-click="vm.addToAmount(0)")
        .mp-calc__button__inner 0
      .mp-calc__button(ng-click="vm.addToAmount('.')")
        .mp-calc__button__inner .
