
<div class="mp-bank col-xs-12 col-sm-10 col-lg-5 col-centered">
  <div class="mp-bank__users">
    <div ng-repeat="user in vm.users" ng-click="vm.addToTransfer(user)" class="mp-user mp-user--inline">
      <div class="mp-user__avatar mp-color--{{ ::user.color }}">
        <div class="mp-icon mp-icon--{{ ::user.icon }}"></div>
      </div>
    </div>
  </div>
  <div class="mp-bank__control">
    <div ng-click="vm.removeFromTransfer('from')" class="mp-bank__control__user col-xs-5 col-sm-5 col-lg-5">
      <div class="mp-user">
        <div class="mp-user__avatar mp-color--{{ vm.transfer.from ? vm.transfer.from.color : 'grey-light' }}">
          <div class="mp-icon mp-icon--{{ vm.transfer.from ? vm.transfer.from.icon : 'piggy' }}"></div>
        </div>
        <div class="mp-user__info">
          <div class="mp-user__name">{{ vm.transfer.from ? vm.transfer.from.name : 'Bank' }}</div>
          <div class="mp-user__money">{{ vm.transfer.from ? vm.transfer.from.money : 'infinity' }}</div>
        </div>
      </div>
    </div>
    <div class="mp-bank__control__calc mp-bank__control__calc--active col-xs-2 col-sm-2 col-lg-2"><i class="mp-icon mp-icon--dialpad"></i></div>
    <div ng-click="vm.removeFromTransfer('to')" class="mp-bank__control__user col-xs-5 col-sm-5 col-lg-5">
      <div class="mp-user">
        <div class="mp-user__info">
          <div class="mp-user__name">{{ vm.transfer.to ? vm.transfer.to.name : 'Bank' }}</div>
          <div class="mp-user__money">{{ vm.transfer.to ? vm.transfer.to.money : 'infinity' }}</div>
        </div>
        <div class="mp-user__avatar mp-color--{{ vm.transfer.to ? vm.transfer.to.color : 'grey-light' }}">
          <div class="mp-icon mp-icon--{{ vm.transfer.to ? vm.transfer.to.icon : 'piggy' }}"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="mp-calc">
    <div class="mp-calc__input clearfix">
      <input type="text" ng-model="vm.amount" placeholder="0" class="mp-input col-xs-12 col-sm-12 col-lg-12"/>
    </div>
    <div class="mp-calc__buttons">
      <div ng-click="vm.doTransfer()" class="mp-calc__button">
        <div class="mp-calc__button__inner">M</div>
      </div>
      <div ng-click="vm.transfer.reverse()" class="mp-calc__button">
        <div class="mp-calc__button__inner">
          <div class="mp-rounded-btn mp-rounded-btn--dark"><i class="glyphicon glyphicon-refresh"></i></div>
        </div>
      </div>
      <div ng-click="vm.doTransfer()" class="mp-calc__button">
        <div class="mp-calc__button__inner">K</div>
      </div>
      <div ng-click="vm.addToAmount(7)" class="mp-calc__button">
        <div class="mp-calc__button__inner">7</div>
      </div>
      <div ng-click="vm.addToAmount(8)" class="mp-calc__button">
        <div class="mp-calc__button__inner">8</div>
      </div>
      <div ng-click="vm.addToAmount(9)" class="mp-calc__button">
        <div class="mp-calc__button__inner">9</div>
      </div>
      <div ng-click="vm.addToAmount(4)" class="mp-calc__button">
        <div class="mp-calc__button__inner">4</div>
      </div>
      <div ng-click="vm.addToAmount(5)" class="mp-calc__button">
        <div class="mp-calc__button__inner">5</div>
      </div>
      <div ng-click="vm.addToAmount(6)" class="mp-calc__button">
        <div class="mp-calc__button__inner">6</div>
      </div>
      <div ng-click="vm.addToAmount(1)" class="mp-calc__button">
        <div class="mp-calc__button__inner">1</div>
      </div>
      <div ng-click="vm.addToAmount(2)" class="mp-calc__button">
        <div class="mp-calc__button__inner">2</div>
      </div>
      <div ng-click="vm.addToAmount(3)" class="mp-calc__button">
        <div class="mp-calc__button__inner">3</div>
      </div>
      <div ng-click="vm.clearAmount()" class="mp-calc__button">
        <div class="mp-calc__button__inner">C</div>
      </div>
      <div ng-click="vm.addToAmount(0)" class="mp-calc__button">
        <div class="mp-calc__button__inner">0</div>
      </div>
      <div ng-click="vm.addToAmount('.')" class="mp-calc__button">
        <div class="mp-calc__button__inner">.</div>
      </div>
    </div>
  </div>
</div>