.mp-lobby.col-centered.col-xs-12.col-sm-10.col-lg-5
  h1.mp-lobby__title
    span.mp-lobby__title__text Monopoly Assistant
  .mp-lobby__users(ng-if="vm.users.length")
    .mp-user.mp-user--block(ng-repeat="user in vm.users", ng-click="vm.deleteUser($index)")
      .mp-user__avatar(class="mp-color--{{ ::user.color }}")
        .mp-icon(class="mp-icon--{{ ::user.icon }}")
      .mp-user__info
        .mp-user__name {{ ::user.name }}
  .mp-lobby__add-user
    input(type="text", placeholder="Username", ng-model="vm.name", ng-keyup="$event.keyCode == 13 && vm.addUser(vm.name)").mp-input.col-xs-11.col-sm-11.col-lg-11
    .mp-input-btn.mp-rounded-btn.col-xs-2.col-sm-2.col-lg-1(ng-click="vm.addUser(vm.name)")
      span.glyphicon.glyphicon-plus
  a(href="", ng-click="vm.startGame()").mp-floating-btn
    i.glyphicon.glyphicon-play
