@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url($fonts + 'KaushanScript-Regular.ttf');
}

@font-face {
  font-family: 'Digital7';
  font-style: normal;
  font-weight: 400;
  src: url($fonts + 'digital-7.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url($fonts + 'Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url($fonts + 'Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url($fonts + 'Roboto-Bold.ttf');
}
