@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .mp-icon--#{$sprite-name} {
      @include sprite-width($sprite);
      @include sprite-height($sprite);
    }
    .mp-icon--#{$sprite-name}::before {
      @include sprite($sprite);
    }
  }
}

@mixin colors($colors) {
  @each $name, $hex in $colors {
    .mp-color--#{$name} {
      background: $hex;
    }
  }
}
