/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$alligator-name: 'alligator';
$alligator-x: 55px;
$alligator-y: 0px;
$alligator-offset-x: -55px;
$alligator-offset-y: 0px;
$alligator-width: 50px;
$alligator-height: 50px;
$alligator-total-width: 490px;
$alligator-total-height: 435px;
$alligator-image: '../images/spritemap.png';
$alligator: (55px, 0px, -55px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'alligator', );
$anteater-name: 'anteater';
$anteater-x: 330px;
$anteater-y: 0px;
$anteater-offset-x: -330px;
$anteater-offset-y: 0px;
$anteater-width: 50px;
$anteater-height: 50px;
$anteater-total-width: 490px;
$anteater-total-height: 435px;
$anteater-image: '../images/spritemap.png';
$anteater: (330px, 0px, -330px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'anteater', );
$armadillo-name: 'armadillo';
$armadillo-x: 0px;
$armadillo-y: 55px;
$armadillo-offset-x: 0px;
$armadillo-offset-y: -55px;
$armadillo-width: 50px;
$armadillo-height: 50px;
$armadillo-total-width: 490px;
$armadillo-total-height: 435px;
$armadillo-image: '../images/spritemap.png';
$armadillo: (0px, 55px, 0px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'armadillo', );
$auroch-name: 'auroch';
$auroch-x: 55px;
$auroch-y: 55px;
$auroch-offset-x: -55px;
$auroch-offset-y: -55px;
$auroch-width: 50px;
$auroch-height: 50px;
$auroch-total-width: 490px;
$auroch-total-height: 435px;
$auroch-image: '../images/spritemap.png';
$auroch: (55px, 55px, -55px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'auroch', );
$axolotl-name: 'axolotl';
$axolotl-x: 110px;
$axolotl-y: 0px;
$axolotl-offset-x: -110px;
$axolotl-offset-y: 0px;
$axolotl-width: 50px;
$axolotl-height: 50px;
$axolotl-total-width: 490px;
$axolotl-total-height: 435px;
$axolotl-image: '../images/spritemap.png';
$axolotl: (110px, 0px, -110px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'axolotl', );
$badger-name: 'badger';
$badger-x: 110px;
$badger-y: 55px;
$badger-offset-x: -110px;
$badger-offset-y: -55px;
$badger-width: 50px;
$badger-height: 50px;
$badger-total-width: 490px;
$badger-total-height: 435px;
$badger-image: '../images/spritemap.png';
$badger: (110px, 55px, -110px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'badger', );
$bat-name: 'bat';
$bat-x: 0px;
$bat-y: 110px;
$bat-offset-x: 0px;
$bat-offset-y: -110px;
$bat-width: 50px;
$bat-height: 50px;
$bat-total-width: 490px;
$bat-total-height: 435px;
$bat-image: '../images/spritemap.png';
$bat: (0px, 110px, 0px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'bat', );
$beaver-name: 'beaver';
$beaver-x: 55px;
$beaver-y: 110px;
$beaver-offset-x: -55px;
$beaver-offset-y: -110px;
$beaver-width: 50px;
$beaver-height: 50px;
$beaver-total-width: 490px;
$beaver-total-height: 435px;
$beaver-image: '../images/spritemap.png';
$beaver: (55px, 110px, -55px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'beaver', );
$buffalo-name: 'buffalo';
$buffalo-x: 110px;
$buffalo-y: 110px;
$buffalo-offset-x: -110px;
$buffalo-offset-y: -110px;
$buffalo-width: 50px;
$buffalo-height: 50px;
$buffalo-total-width: 490px;
$buffalo-total-height: 435px;
$buffalo-image: '../images/spritemap.png';
$buffalo: (110px, 110px, -110px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'buffalo', );
$camel-name: 'camel';
$camel-x: 165px;
$camel-y: 0px;
$camel-offset-x: -165px;
$camel-offset-y: 0px;
$camel-width: 50px;
$camel-height: 50px;
$camel-total-width: 490px;
$camel-total-height: 435px;
$camel-image: '../images/spritemap.png';
$camel: (165px, 0px, -165px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'camel', );
$capybara-name: 'capybara';
$capybara-x: 165px;
$capybara-y: 55px;
$capybara-offset-x: -165px;
$capybara-offset-y: -55px;
$capybara-width: 50px;
$capybara-height: 50px;
$capybara-total-width: 490px;
$capybara-total-height: 435px;
$capybara-image: '../images/spritemap.png';
$capybara: (165px, 55px, -165px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'capybara', );
$chameleon-name: 'chameleon';
$chameleon-x: 165px;
$chameleon-y: 110px;
$chameleon-offset-x: -165px;
$chameleon-offset-y: -110px;
$chameleon-width: 50px;
$chameleon-height: 50px;
$chameleon-total-width: 490px;
$chameleon-total-height: 435px;
$chameleon-image: '../images/spritemap.png';
$chameleon: (165px, 110px, -165px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'chameleon', );
$cheetah-name: 'cheetah';
$cheetah-x: 0px;
$cheetah-y: 165px;
$cheetah-offset-x: 0px;
$cheetah-offset-y: -165px;
$cheetah-width: 50px;
$cheetah-height: 50px;
$cheetah-total-width: 490px;
$cheetah-total-height: 435px;
$cheetah-image: '../images/spritemap.png';
$cheetah: (0px, 165px, 0px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'cheetah', );
$chinchilla-name: 'chinchilla';
$chinchilla-x: 55px;
$chinchilla-y: 165px;
$chinchilla-offset-x: -55px;
$chinchilla-offset-y: -165px;
$chinchilla-width: 50px;
$chinchilla-height: 50px;
$chinchilla-total-width: 490px;
$chinchilla-total-height: 435px;
$chinchilla-image: '../images/spritemap.png';
$chinchilla: (55px, 165px, -55px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'chinchilla', );
$chipmunk-name: 'chipmunk';
$chipmunk-x: 110px;
$chipmunk-y: 165px;
$chipmunk-offset-x: -110px;
$chipmunk-offset-y: -165px;
$chipmunk-width: 50px;
$chipmunk-height: 50px;
$chipmunk-total-width: 490px;
$chipmunk-total-height: 435px;
$chipmunk-image: '../images/spritemap.png';
$chipmunk: (110px, 165px, -110px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'chipmunk', );
$chupacabra-name: 'chupacabra';
$chupacabra-x: 165px;
$chupacabra-y: 165px;
$chupacabra-offset-x: -165px;
$chupacabra-offset-y: -165px;
$chupacabra-width: 50px;
$chupacabra-height: 50px;
$chupacabra-total-width: 490px;
$chupacabra-total-height: 435px;
$chupacabra-image: '../images/spritemap.png';
$chupacabra: (165px, 165px, -165px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'chupacabra', );
$cormorant-name: 'cormorant';
$cormorant-x: 220px;
$cormorant-y: 0px;
$cormorant-offset-x: -220px;
$cormorant-offset-y: 0px;
$cormorant-width: 50px;
$cormorant-height: 50px;
$cormorant-total-width: 490px;
$cormorant-total-height: 435px;
$cormorant-image: '../images/spritemap.png';
$cormorant: (220px, 0px, -220px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'cormorant', );
$coyote-name: 'coyote';
$coyote-x: 220px;
$coyote-y: 55px;
$coyote-offset-x: -220px;
$coyote-offset-y: -55px;
$coyote-width: 50px;
$coyote-height: 50px;
$coyote-total-width: 490px;
$coyote-total-height: 435px;
$coyote-image: '../images/spritemap.png';
$coyote: (220px, 55px, -220px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'coyote', );
$crow-name: 'crow';
$crow-x: 220px;
$crow-y: 110px;
$crow-offset-x: -220px;
$crow-offset-y: -110px;
$crow-width: 50px;
$crow-height: 50px;
$crow-total-width: 490px;
$crow-total-height: 435px;
$crow-image: '../images/spritemap.png';
$crow: (220px, 110px, -220px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'crow', );
$dialpad-name: 'dialpad';
$dialpad-x: 440px;
$dialpad-y: 385px;
$dialpad-offset-x: -440px;
$dialpad-offset-y: -385px;
$dialpad-width: 48px;
$dialpad-height: 48px;
$dialpad-total-width: 490px;
$dialpad-total-height: 435px;
$dialpad-image: '../images/spritemap.png';
$dialpad: (440px, 385px, -440px, -385px, 48px, 48px, 490px, 435px, '../images/spritemap.png', 'dialpad', );
$dingo-name: 'dingo';
$dingo-x: 0px;
$dingo-y: 220px;
$dingo-offset-x: 0px;
$dingo-offset-y: -220px;
$dingo-width: 50px;
$dingo-height: 50px;
$dingo-total-width: 490px;
$dingo-total-height: 435px;
$dingo-image: '../images/spritemap.png';
$dingo: (0px, 220px, 0px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'dingo', );
$dinosaur-name: 'dinosaur';
$dinosaur-x: 55px;
$dinosaur-y: 220px;
$dinosaur-offset-x: -55px;
$dinosaur-offset-y: -220px;
$dinosaur-width: 50px;
$dinosaur-height: 50px;
$dinosaur-total-width: 490px;
$dinosaur-total-height: 435px;
$dinosaur-image: '../images/spritemap.png';
$dinosaur: (55px, 220px, -55px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'dinosaur', );
$dolphin-name: 'dolphin';
$dolphin-x: 110px;
$dolphin-y: 220px;
$dolphin-offset-x: -110px;
$dolphin-offset-y: -220px;
$dolphin-width: 50px;
$dolphin-height: 50px;
$dolphin-total-width: 490px;
$dolphin-total-height: 435px;
$dolphin-image: '../images/spritemap.png';
$dolphin: (110px, 220px, -110px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'dolphin', );
$duck-name: 'duck';
$duck-x: 165px;
$duck-y: 220px;
$duck-offset-x: -165px;
$duck-offset-y: -220px;
$duck-width: 50px;
$duck-height: 50px;
$duck-total-width: 490px;
$duck-total-height: 435px;
$duck-image: '../images/spritemap.png';
$duck: (165px, 220px, -165px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'duck', );
$elephant-name: 'elephant';
$elephant-x: 220px;
$elephant-y: 220px;
$elephant-offset-x: -220px;
$elephant-offset-y: -220px;
$elephant-width: 50px;
$elephant-height: 50px;
$elephant-total-width: 490px;
$elephant-total-height: 435px;
$elephant-image: '../images/spritemap.png';
$elephant: (220px, 220px, -220px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'elephant', );
$ferret-name: 'ferret';
$ferret-x: 275px;
$ferret-y: 0px;
$ferret-offset-x: -275px;
$ferret-offset-y: 0px;
$ferret-width: 50px;
$ferret-height: 50px;
$ferret-total-width: 490px;
$ferret-total-height: 435px;
$ferret-image: '../images/spritemap.png';
$ferret: (275px, 0px, -275px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'ferret', );
$fox-name: 'fox';
$fox-x: 275px;
$fox-y: 55px;
$fox-offset-x: -275px;
$fox-offset-y: -55px;
$fox-width: 50px;
$fox-height: 50px;
$fox-total-width: 490px;
$fox-total-height: 435px;
$fox-image: '../images/spritemap.png';
$fox: (275px, 55px, -275px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'fox', );
$frog-name: 'frog';
$frog-x: 275px;
$frog-y: 110px;
$frog-offset-x: -275px;
$frog-offset-y: -110px;
$frog-width: 50px;
$frog-height: 50px;
$frog-total-width: 490px;
$frog-total-height: 435px;
$frog-image: '../images/spritemap.png';
$frog: (275px, 110px, -275px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'frog', );
$giraffe-name: 'giraffe';
$giraffe-x: 275px;
$giraffe-y: 165px;
$giraffe-offset-x: -275px;
$giraffe-offset-y: -165px;
$giraffe-width: 50px;
$giraffe-height: 50px;
$giraffe-total-width: 490px;
$giraffe-total-height: 435px;
$giraffe-image: '../images/spritemap.png';
$giraffe: (275px, 165px, -275px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'giraffe', );
$gopher-name: 'gopher';
$gopher-x: 275px;
$gopher-y: 220px;
$gopher-offset-x: -275px;
$gopher-offset-y: -220px;
$gopher-width: 50px;
$gopher-height: 50px;
$gopher-total-width: 490px;
$gopher-total-height: 435px;
$gopher-image: '../images/spritemap.png';
$gopher: (275px, 220px, -275px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'gopher', );
$grizzly-name: 'grizzly';
$grizzly-x: 0px;
$grizzly-y: 275px;
$grizzly-offset-x: 0px;
$grizzly-offset-y: -275px;
$grizzly-width: 50px;
$grizzly-height: 50px;
$grizzly-total-width: 490px;
$grizzly-total-height: 435px;
$grizzly-image: '../images/spritemap.png';
$grizzly: (0px, 275px, 0px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'grizzly', );
$hedgehog-name: 'hedgehog';
$hedgehog-x: 55px;
$hedgehog-y: 275px;
$hedgehog-offset-x: -55px;
$hedgehog-offset-y: -275px;
$hedgehog-width: 50px;
$hedgehog-height: 50px;
$hedgehog-total-width: 490px;
$hedgehog-total-height: 435px;
$hedgehog-image: '../images/spritemap.png';
$hedgehog: (55px, 275px, -55px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'hedgehog', );
$hippo-name: 'hippo';
$hippo-x: 110px;
$hippo-y: 275px;
$hippo-offset-x: -110px;
$hippo-offset-y: -275px;
$hippo-width: 50px;
$hippo-height: 50px;
$hippo-total-width: 490px;
$hippo-total-height: 435px;
$hippo-image: '../images/spritemap.png';
$hippo: (110px, 275px, -110px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'hippo', );
$hyena-name: 'hyena';
$hyena-x: 165px;
$hyena-y: 275px;
$hyena-offset-x: -165px;
$hyena-offset-y: -275px;
$hyena-width: 50px;
$hyena-height: 50px;
$hyena-total-width: 490px;
$hyena-total-height: 435px;
$hyena-image: '../images/spritemap.png';
$hyena: (165px, 275px, -165px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'hyena', );
$ibex-name: 'ibex';
$ibex-x: 220px;
$ibex-y: 275px;
$ibex-offset-x: -220px;
$ibex-offset-y: -275px;
$ibex-width: 50px;
$ibex-height: 50px;
$ibex-total-width: 490px;
$ibex-total-height: 435px;
$ibex-image: '../images/spritemap.png';
$ibex: (220px, 275px, -220px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'ibex', );
$ifrit-name: 'ifrit';
$ifrit-x: 275px;
$ifrit-y: 275px;
$ifrit-offset-x: -275px;
$ifrit-offset-y: -275px;
$ifrit-width: 50px;
$ifrit-height: 50px;
$ifrit-total-width: 490px;
$ifrit-total-height: 435px;
$ifrit-image: '../images/spritemap.png';
$ifrit: (275px, 275px, -275px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'ifrit', );
$iguana-name: 'iguana';
$iguana-x: 0px;
$iguana-y: 0px;
$iguana-offset-x: 0px;
$iguana-offset-y: 0px;
$iguana-width: 50px;
$iguana-height: 50px;
$iguana-total-width: 490px;
$iguana-total-height: 435px;
$iguana-image: '../images/spritemap.png';
$iguana: (0px, 0px, 0px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'iguana', );
$jackal-name: 'jackal';
$jackal-x: 330px;
$jackal-y: 55px;
$jackal-offset-x: -330px;
$jackal-offset-y: -55px;
$jackal-width: 50px;
$jackal-height: 50px;
$jackal-total-width: 490px;
$jackal-total-height: 435px;
$jackal-image: '../images/spritemap.png';
$jackal: (330px, 55px, -330px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'jackal', );
$koala-name: 'koala';
$koala-x: 330px;
$koala-y: 110px;
$koala-offset-x: -330px;
$koala-offset-y: -110px;
$koala-width: 50px;
$koala-height: 50px;
$koala-total-width: 490px;
$koala-total-height: 435px;
$koala-image: '../images/spritemap.png';
$koala: (330px, 110px, -330px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'koala', );
$kraken-name: 'kraken';
$kraken-x: 330px;
$kraken-y: 165px;
$kraken-offset-x: -330px;
$kraken-offset-y: -165px;
$kraken-width: 50px;
$kraken-height: 50px;
$kraken-total-width: 490px;
$kraken-total-height: 435px;
$kraken-image: '../images/spritemap.png';
$kraken: (330px, 165px, -330px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'kraken', );
$lemur-name: 'lemur';
$lemur-x: 330px;
$lemur-y: 220px;
$lemur-offset-x: -330px;
$lemur-offset-y: -220px;
$lemur-width: 50px;
$lemur-height: 50px;
$lemur-total-width: 490px;
$lemur-total-height: 435px;
$lemur-image: '../images/spritemap.png';
$lemur: (330px, 220px, -330px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'lemur', );
$leopard-name: 'leopard';
$leopard-x: 330px;
$leopard-y: 275px;
$leopard-offset-x: -330px;
$leopard-offset-y: -275px;
$leopard-width: 50px;
$leopard-height: 50px;
$leopard-total-width: 490px;
$leopard-total-height: 435px;
$leopard-image: '../images/spritemap.png';
$leopard: (330px, 275px, -330px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'leopard', );
$liger-name: 'liger';
$liger-x: 0px;
$liger-y: 330px;
$liger-offset-x: 0px;
$liger-offset-y: -330px;
$liger-width: 50px;
$liger-height: 50px;
$liger-total-width: 490px;
$liger-total-height: 435px;
$liger-image: '../images/spritemap.png';
$liger: (0px, 330px, 0px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'liger', );
$llama-name: 'llama';
$llama-x: 55px;
$llama-y: 330px;
$llama-offset-x: -55px;
$llama-offset-y: -330px;
$llama-width: 50px;
$llama-height: 50px;
$llama-total-width: 490px;
$llama-total-height: 435px;
$llama-image: '../images/spritemap.png';
$llama: (55px, 330px, -55px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'llama', );
$manatee-name: 'manatee';
$manatee-x: 110px;
$manatee-y: 330px;
$manatee-offset-x: -110px;
$manatee-offset-y: -330px;
$manatee-width: 50px;
$manatee-height: 50px;
$manatee-total-width: 490px;
$manatee-total-height: 435px;
$manatee-image: '../images/spritemap.png';
$manatee: (110px, 330px, -110px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'manatee', );
$mink-name: 'mink';
$mink-x: 165px;
$mink-y: 330px;
$mink-offset-x: -165px;
$mink-offset-y: -330px;
$mink-width: 50px;
$mink-height: 50px;
$mink-total-width: 490px;
$mink-total-height: 435px;
$mink-image: '../images/spritemap.png';
$mink: (165px, 330px, -165px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'mink', );
$monkey-name: 'monkey';
$monkey-x: 220px;
$monkey-y: 330px;
$monkey-offset-x: -220px;
$monkey-offset-y: -330px;
$monkey-width: 50px;
$monkey-height: 50px;
$monkey-total-width: 490px;
$monkey-total-height: 435px;
$monkey-image: '../images/spritemap.png';
$monkey: (220px, 330px, -220px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'monkey', );
$moose-name: 'moose';
$moose-x: 275px;
$moose-y: 330px;
$moose-offset-x: -275px;
$moose-offset-y: -330px;
$moose-width: 50px;
$moose-height: 50px;
$moose-total-width: 490px;
$moose-total-height: 435px;
$moose-image: '../images/spritemap.png';
$moose: (275px, 330px, -275px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'moose', );
$narwhal-name: 'narwhal';
$narwhal-x: 330px;
$narwhal-y: 330px;
$narwhal-offset-x: -330px;
$narwhal-offset-y: -330px;
$narwhal-width: 50px;
$narwhal-height: 50px;
$narwhal-total-width: 490px;
$narwhal-total-height: 435px;
$narwhal-image: '../images/spritemap.png';
$narwhal: (330px, 330px, -330px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'narwhal', );
$nyancat-name: 'nyancat';
$nyancat-x: 385px;
$nyancat-y: 0px;
$nyancat-offset-x: -385px;
$nyancat-offset-y: 0px;
$nyancat-width: 50px;
$nyancat-height: 50px;
$nyancat-total-width: 490px;
$nyancat-total-height: 435px;
$nyancat-image: '../images/spritemap.png';
$nyancat: (385px, 0px, -385px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'nyancat', );
$orangutan-name: 'orangutan';
$orangutan-x: 385px;
$orangutan-y: 55px;
$orangutan-offset-x: -385px;
$orangutan-offset-y: -55px;
$orangutan-width: 50px;
$orangutan-height: 50px;
$orangutan-total-width: 490px;
$orangutan-total-height: 435px;
$orangutan-image: '../images/spritemap.png';
$orangutan: (385px, 55px, -385px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'orangutan', );
$otter-name: 'otter';
$otter-x: 385px;
$otter-y: 110px;
$otter-offset-x: -385px;
$otter-offset-y: -110px;
$otter-width: 50px;
$otter-height: 50px;
$otter-total-width: 490px;
$otter-total-height: 435px;
$otter-image: '../images/spritemap.png';
$otter: (385px, 110px, -385px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'otter', );
$panda-name: 'panda';
$panda-x: 385px;
$panda-y: 165px;
$panda-offset-x: -385px;
$panda-offset-y: -165px;
$panda-width: 50px;
$panda-height: 50px;
$panda-total-width: 490px;
$panda-total-height: 435px;
$panda-image: '../images/spritemap.png';
$panda: (385px, 165px, -385px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'panda', );
$penguin-name: 'penguin';
$penguin-x: 385px;
$penguin-y: 220px;
$penguin-offset-x: -385px;
$penguin-offset-y: -220px;
$penguin-width: 50px;
$penguin-height: 50px;
$penguin-total-width: 490px;
$penguin-total-height: 435px;
$penguin-image: '../images/spritemap.png';
$penguin: (385px, 220px, -385px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'penguin', );
$platypus-name: 'platypus';
$platypus-x: 385px;
$platypus-y: 275px;
$platypus-offset-x: -385px;
$platypus-offset-y: -275px;
$platypus-width: 50px;
$platypus-height: 50px;
$platypus-total-width: 490px;
$platypus-total-height: 435px;
$platypus-image: '../images/spritemap.png';
$platypus: (385px, 275px, -385px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'platypus', );
$pumpkin-name: 'pumpkin';
$pumpkin-x: 385px;
$pumpkin-y: 330px;
$pumpkin-offset-x: -385px;
$pumpkin-offset-y: -330px;
$pumpkin-width: 50px;
$pumpkin-height: 50px;
$pumpkin-total-width: 490px;
$pumpkin-total-height: 435px;
$pumpkin-image: '../images/spritemap.png';
$pumpkin: (385px, 330px, -385px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'pumpkin', );
$python-name: 'python';
$python-x: 0px;
$python-y: 385px;
$python-offset-x: 0px;
$python-offset-y: -385px;
$python-width: 50px;
$python-height: 50px;
$python-total-width: 490px;
$python-total-height: 435px;
$python-image: '../images/spritemap.png';
$python: (0px, 385px, 0px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'python', );
$quagga-name: 'quagga';
$quagga-x: 55px;
$quagga-y: 385px;
$quagga-offset-x: -55px;
$quagga-offset-y: -385px;
$quagga-width: 50px;
$quagga-height: 50px;
$quagga-total-width: 490px;
$quagga-total-height: 435px;
$quagga-image: '../images/spritemap.png';
$quagga: (55px, 385px, -55px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'quagga', );
$rabbit-name: 'rabbit';
$rabbit-x: 110px;
$rabbit-y: 385px;
$rabbit-offset-x: -110px;
$rabbit-offset-y: -385px;
$rabbit-width: 50px;
$rabbit-height: 50px;
$rabbit-total-width: 490px;
$rabbit-total-height: 435px;
$rabbit-image: '../images/spritemap.png';
$rabbit: (110px, 385px, -110px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'rabbit', );
$raccoon-name: 'raccoon';
$raccoon-x: 165px;
$raccoon-y: 385px;
$raccoon-offset-x: -165px;
$raccoon-offset-y: -385px;
$raccoon-width: 50px;
$raccoon-height: 50px;
$raccoon-total-width: 490px;
$raccoon-total-height: 435px;
$raccoon-image: '../images/spritemap.png';
$raccoon: (165px, 385px, -165px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'raccoon', );
$rhino-name: 'rhino';
$rhino-x: 220px;
$rhino-y: 385px;
$rhino-offset-x: -220px;
$rhino-offset-y: -385px;
$rhino-width: 50px;
$rhino-height: 50px;
$rhino-total-width: 490px;
$rhino-total-height: 435px;
$rhino-image: '../images/spritemap.png';
$rhino: (220px, 385px, -220px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'rhino', );
$sheep-name: 'sheep';
$sheep-x: 275px;
$sheep-y: 385px;
$sheep-offset-x: -275px;
$sheep-offset-y: -385px;
$sheep-width: 50px;
$sheep-height: 50px;
$sheep-total-width: 490px;
$sheep-total-height: 435px;
$sheep-image: '../images/spritemap.png';
$sheep: (275px, 385px, -275px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'sheep', );
$shrew-name: 'shrew';
$shrew-x: 330px;
$shrew-y: 385px;
$shrew-offset-x: -330px;
$shrew-offset-y: -385px;
$shrew-width: 50px;
$shrew-height: 50px;
$shrew-total-width: 490px;
$shrew-total-height: 435px;
$shrew-image: '../images/spritemap.png';
$shrew: (330px, 385px, -330px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'shrew', );
$skunk-name: 'skunk';
$skunk-x: 385px;
$skunk-y: 385px;
$skunk-offset-x: -385px;
$skunk-offset-y: -385px;
$skunk-width: 50px;
$skunk-height: 50px;
$skunk-total-width: 490px;
$skunk-total-height: 435px;
$skunk-image: '../images/spritemap.png';
$skunk: (385px, 385px, -385px, -385px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'skunk', );
$slowloris-name: 'slowloris';
$slowloris-x: 440px;
$slowloris-y: 0px;
$slowloris-offset-x: -440px;
$slowloris-offset-y: 0px;
$slowloris-width: 50px;
$slowloris-height: 50px;
$slowloris-total-width: 490px;
$slowloris-total-height: 435px;
$slowloris-image: '../images/spritemap.png';
$slowloris: (440px, 0px, -440px, 0px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'slowloris', );
$squirrel-name: 'squirrel';
$squirrel-x: 440px;
$squirrel-y: 55px;
$squirrel-offset-x: -440px;
$squirrel-offset-y: -55px;
$squirrel-width: 50px;
$squirrel-height: 50px;
$squirrel-total-width: 490px;
$squirrel-total-height: 435px;
$squirrel-image: '../images/spritemap.png';
$squirrel: (440px, 55px, -440px, -55px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'squirrel', );
$tiger-name: 'tiger';
$tiger-x: 440px;
$tiger-y: 110px;
$tiger-offset-x: -440px;
$tiger-offset-y: -110px;
$tiger-width: 50px;
$tiger-height: 50px;
$tiger-total-width: 490px;
$tiger-total-height: 435px;
$tiger-image: '../images/spritemap.png';
$tiger: (440px, 110px, -440px, -110px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'tiger', );
$turtle-name: 'turtle';
$turtle-x: 440px;
$turtle-y: 165px;
$turtle-offset-x: -440px;
$turtle-offset-y: -165px;
$turtle-width: 50px;
$turtle-height: 50px;
$turtle-total-width: 490px;
$turtle-total-height: 435px;
$turtle-image: '../images/spritemap.png';
$turtle: (440px, 165px, -440px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'turtle', );
$walrus-name: 'walrus';
$walrus-x: 440px;
$walrus-y: 220px;
$walrus-offset-x: -440px;
$walrus-offset-y: -220px;
$walrus-width: 50px;
$walrus-height: 50px;
$walrus-total-width: 490px;
$walrus-total-height: 435px;
$walrus-image: '../images/spritemap.png';
$walrus: (440px, 220px, -440px, -220px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'walrus', );
$wolf-name: 'wolf';
$wolf-x: 440px;
$wolf-y: 275px;
$wolf-offset-x: -440px;
$wolf-offset-y: -275px;
$wolf-width: 50px;
$wolf-height: 50px;
$wolf-total-width: 490px;
$wolf-total-height: 435px;
$wolf-image: '../images/spritemap.png';
$wolf: (440px, 275px, -440px, -275px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'wolf', );
$wolverine-name: 'wolverine';
$wolverine-x: 220px;
$wolverine-y: 165px;
$wolverine-offset-x: -220px;
$wolverine-offset-y: -165px;
$wolverine-width: 50px;
$wolverine-height: 50px;
$wolverine-total-width: 490px;
$wolverine-total-height: 435px;
$wolverine-image: '../images/spritemap.png';
$wolverine: (220px, 165px, -220px, -165px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'wolverine', );
$wombat-name: 'wombat';
$wombat-x: 440px;
$wombat-y: 330px;
$wombat-offset-x: -440px;
$wombat-offset-y: -330px;
$wombat-width: 50px;
$wombat-height: 50px;
$wombat-total-width: 490px;
$wombat-total-height: 435px;
$wombat-image: '../images/spritemap.png';
$wombat: (440px, 330px, -440px, -330px, 50px, 50px, 490px, 435px, '../images/spritemap.png', 'wombat', );
$spritesheet-width: 490px;
$spritesheet-height: 435px;
$spritesheet-image: '../images/spritemap.png';
$spritesheet-sprites: ($alligator, $anteater, $armadillo, $auroch, $axolotl, $badger, $bat, $beaver, $buffalo, $camel, $capybara, $chameleon, $cheetah, $chinchilla, $chipmunk, $chupacabra, $cormorant, $coyote, $crow, $dialpad, $dingo, $dinosaur, $dolphin, $duck, $elephant, $ferret, $fox, $frog, $giraffe, $gopher, $grizzly, $hedgehog, $hippo, $hyena, $ibex, $ifrit, $iguana, $jackal, $koala, $kraken, $lemur, $leopard, $liger, $llama, $manatee, $mink, $monkey, $moose, $narwhal, $nyancat, $orangutan, $otter, $panda, $penguin, $platypus, $pumpkin, $python, $quagga, $rabbit, $raccoon, $rhino, $sheep, $shrew, $skunk, $slowloris, $squirrel, $tiger, $turtle, $walrus, $wolf, $wolverine, $wombat, );
$spritesheet: (490px, 435px, '../images/spritemap.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
