@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/KaushanScript-Regular.ttf"); }

@font-face {
  font-family: 'Digital7';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/digital-7.ttf"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf"); }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.mp-icon--alligator {
  width: 50px;
  height: 50px; }

.mp-icon--alligator::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--anteater {
  width: 50px;
  height: 50px; }

.mp-icon--anteater::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--armadillo {
  width: 50px;
  height: 50px; }

.mp-icon--armadillo::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--auroch {
  width: 50px;
  height: 50px; }

.mp-icon--auroch::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--axolotl {
  width: 50px;
  height: 50px; }

.mp-icon--axolotl::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--badger {
  width: 50px;
  height: 50px; }

.mp-icon--badger::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--bat {
  width: 50px;
  height: 50px; }

.mp-icon--bat::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--beaver {
  width: 50px;
  height: 50px; }

.mp-icon--beaver::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--buffalo {
  width: 50px;
  height: 50px; }

.mp-icon--buffalo::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--camel {
  width: 50px;
  height: 50px; }

.mp-icon--camel::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--capybara {
  width: 50px;
  height: 50px; }

.mp-icon--capybara::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--chameleon {
  width: 50px;
  height: 50px; }

.mp-icon--chameleon::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--cheetah {
  width: 50px;
  height: 50px; }

.mp-icon--cheetah::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--chinchilla {
  width: 50px;
  height: 50px; }

.mp-icon--chinchilla::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--chipmunk {
  width: 50px;
  height: 50px; }

.mp-icon--chipmunk::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--chupacabra {
  width: 50px;
  height: 50px; }

.mp-icon--chupacabra::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--cormorant {
  width: 50px;
  height: 50px; }

.mp-icon--cormorant::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--coyote {
  width: 50px;
  height: 50px; }

.mp-icon--coyote::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--crow {
  width: 50px;
  height: 50px; }

.mp-icon--crow::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--dialpad {
  width: 48px;
  height: 48px; }

.mp-icon--dialpad::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -385px;
  width: 48px;
  height: 48px; }

.mp-icon--dingo {
  width: 50px;
  height: 50px; }

.mp-icon--dingo::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--dinosaur {
  width: 50px;
  height: 50px; }

.mp-icon--dinosaur::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--dolphin {
  width: 50px;
  height: 50px; }

.mp-icon--dolphin::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--duck {
  width: 50px;
  height: 50px; }

.mp-icon--duck::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--elephant {
  width: 50px;
  height: 50px; }

.mp-icon--elephant::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--ferret {
  width: 50px;
  height: 50px; }

.mp-icon--ferret::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--fox {
  width: 50px;
  height: 50px; }

.mp-icon--fox::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--frog {
  width: 50px;
  height: 50px; }

.mp-icon--frog::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--giraffe {
  width: 50px;
  height: 50px; }

.mp-icon--giraffe::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--gopher {
  width: 50px;
  height: 50px; }

.mp-icon--gopher::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--grizzly {
  width: 50px;
  height: 50px; }

.mp-icon--grizzly::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--hedgehog {
  width: 50px;
  height: 50px; }

.mp-icon--hedgehog::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--hippo {
  width: 50px;
  height: 50px; }

.mp-icon--hippo::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--hyena {
  width: 50px;
  height: 50px; }

.mp-icon--hyena::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--ibex {
  width: 50px;
  height: 50px; }

.mp-icon--ibex::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--ifrit {
  width: 50px;
  height: 50px; }

.mp-icon--ifrit::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--iguana {
  width: 50px;
  height: 50px; }

.mp-icon--iguana::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--jackal {
  width: 50px;
  height: 50px; }

.mp-icon--jackal::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--koala {
  width: 50px;
  height: 50px; }

.mp-icon--koala::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--kraken {
  width: 50px;
  height: 50px; }

.mp-icon--kraken::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--lemur {
  width: 50px;
  height: 50px; }

.mp-icon--lemur::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--leopard {
  width: 50px;
  height: 50px; }

.mp-icon--leopard::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--liger {
  width: 50px;
  height: 50px; }

.mp-icon--liger::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--llama {
  width: 50px;
  height: 50px; }

.mp-icon--llama::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--manatee {
  width: 50px;
  height: 50px; }

.mp-icon--manatee::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--mink {
  width: 50px;
  height: 50px; }

.mp-icon--mink::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--monkey {
  width: 50px;
  height: 50px; }

.mp-icon--monkey::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--moose {
  width: 50px;
  height: 50px; }

.mp-icon--moose::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--narwhal {
  width: 50px;
  height: 50px; }

.mp-icon--narwhal::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--nyancat {
  width: 50px;
  height: 50px; }

.mp-icon--nyancat::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--orangutan {
  width: 50px;
  height: 50px; }

.mp-icon--orangutan::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--otter {
  width: 50px;
  height: 50px; }

.mp-icon--otter::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--panda {
  width: 50px;
  height: 50px; }

.mp-icon--panda::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--penguin {
  width: 50px;
  height: 50px; }

.mp-icon--penguin::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--platypus {
  width: 50px;
  height: 50px; }

.mp-icon--platypus::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--pumpkin {
  width: 50px;
  height: 50px; }

.mp-icon--pumpkin::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -330px;
  width: 50px;
  height: 50px; }

.mp-icon--python {
  width: 50px;
  height: 50px; }

.mp-icon--python::before {
  background-image: url(../images/spritemap.png);
  background-position: 0px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--quagga {
  width: 50px;
  height: 50px; }

.mp-icon--quagga::before {
  background-image: url(../images/spritemap.png);
  background-position: -55px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--rabbit {
  width: 50px;
  height: 50px; }

.mp-icon--rabbit::before {
  background-image: url(../images/spritemap.png);
  background-position: -110px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--raccoon {
  width: 50px;
  height: 50px; }

.mp-icon--raccoon::before {
  background-image: url(../images/spritemap.png);
  background-position: -165px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--rhino {
  width: 50px;
  height: 50px; }

.mp-icon--rhino::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--sheep {
  width: 50px;
  height: 50px; }

.mp-icon--sheep::before {
  background-image: url(../images/spritemap.png);
  background-position: -275px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--shrew {
  width: 50px;
  height: 50px; }

.mp-icon--shrew::before {
  background-image: url(../images/spritemap.png);
  background-position: -330px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--skunk {
  width: 50px;
  height: 50px; }

.mp-icon--skunk::before {
  background-image: url(../images/spritemap.png);
  background-position: -385px -385px;
  width: 50px;
  height: 50px; }

.mp-icon--slowloris {
  width: 50px;
  height: 50px; }

.mp-icon--slowloris::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px 0px;
  width: 50px;
  height: 50px; }

.mp-icon--squirrel {
  width: 50px;
  height: 50px; }

.mp-icon--squirrel::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -55px;
  width: 50px;
  height: 50px; }

.mp-icon--tiger {
  width: 50px;
  height: 50px; }

.mp-icon--tiger::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -110px;
  width: 50px;
  height: 50px; }

.mp-icon--turtle {
  width: 50px;
  height: 50px; }

.mp-icon--turtle::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--walrus {
  width: 50px;
  height: 50px; }

.mp-icon--walrus::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -220px;
  width: 50px;
  height: 50px; }

.mp-icon--wolf {
  width: 50px;
  height: 50px; }

.mp-icon--wolf::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -275px;
  width: 50px;
  height: 50px; }

.mp-icon--wolverine {
  width: 50px;
  height: 50px; }

.mp-icon--wolverine::before {
  background-image: url(../images/spritemap.png);
  background-position: -220px -165px;
  width: 50px;
  height: 50px; }

.mp-icon--wombat {
  width: 50px;
  height: 50px; }

.mp-icon--wombat::before {
  background-image: url(../images/spritemap.png);
  background-position: -440px -330px;
  width: 50px;
  height: 50px; }

.mp-color--red {
  background: #f44336; }

.mp-color--pink {
  background: #e91e63; }

.mp-color--purple {
  background: #9c27b0; }

.mp-color--deep-purple {
  background: #673ab7; }

.mp-color--indigo {
  background: #3f51b5; }

.mp-color--blue {
  background: #2196f3; }

.mp-color--light-blue {
  background: #03a9f4; }

.mp-color--cyan {
  background: #00bcd4; }

.mp-color--teal {
  background: #009688; }

.mp-color--green {
  background: #4caf50; }

.mp-color--deep-orange {
  background: #ff5722; }

.mp-color--brown {
  background: #795548; }

.mp-color--blue-grey {
  background: #607d8b; }

.mp-color--lime {
  background: #8bc34a; }

.mp-color--grey {
  background: #9e9e9e; }

.mp-color--grey-light {
  background: #BDBDBD; }

body {
  height: 100vh;
  color: #333;
  overflow: hidden;
  background: #43cea2;
  background: linear-gradient(135deg, #43cea2, #185a9d);
  font-family: 'Roboto'; }

.push-left {
  float: left; }

.push-right {
  float: right; }

.col-centered, .mp-lobby__users {
  float: none;
  margin: 0 auto; }

.mp-icon {
  display: inline-block; }
  .mp-icon::before {
    content: '';
    display: inline-block; }

.mp-icon--piggy {
  font-size: 36px;
  color: #616161;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  .mp-icon--piggy::before {
    content: "\e225"; }

.mp-block, .mp-lobby__users, .mp-lobby__add-user, .mp-user--inline, .mp-bank__control {
  background: #fff;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 2px;
  overflow: hidden; }

.mp-rounded-btn, .mp-floating-btn {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #f5f5f5;
  color: #fff;
  overflow: hidden;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  cursor: pointer; }
  .mp-rounded-btn--dark {
    color: #444; }

.mp-floating-btn {
  z-index: 1500;
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-color: #2196f3; }
  .mp-floating-btn:hover, .mp-floating-btn:focus {
    text-decoration: none;
    color: #fff; }

.mp-input {
  border: 0;
  background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  box-shadow: none;
  height: 46px;
  line-height: 46px;
  font-size: 17px; }
  .mp-input:focus {
    outline: none;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 100% 2px, 100% 1px;
    transition-duration: 0.3s; }

.mp-input-btn {
  line-height: 46px;
  font-size: 18px;
  text-align: center;
  color: #616161; }

.mp-lobby {
  height: 100%;
  padding-top: 1px; }
  .mp-lobby__title {
    text-align: center; }
    .mp-lobby__title__text {
      font-family: 'Kaushan Script';
      font-size: 40px;
      line-height: 65px;
      color: #fff; }
  .mp-lobby__add-user {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.mp-user {
  display: flex;
  align-items: center;
  padding: 10px 0; }
  .mp-user__avatar {
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    text-align: center;
    flex-shrink: 0; }
    .mp-user__avatar .mp-icon {
      vertical-align: middle; }
  .mp-user__info {
    margin: 0 15px; }
  .mp-user__money {
    font-size: 13px;
    line-height: 10px; }
  .mp-user__name {
    font-size: 17px; }
  .mp-user--inline {
    padding: 10px;
    margin: 0 10px;
    flex-shrink: 0; }
  .mp-user--block {
    border-bottom: 1px solid #E0E0E0; }
    .mp-user--block:last-child {
      border-bottom: 0;
      padding-bottom: 0; }
    .mp-user--block:first-child {
      padding-top: 0; }

.mp-bank {
  padding-top: 1px;
  height: 100%; }
  .mp-bank__users {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .mp-bank__control {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    margin: 0;
    border-radius: 0; }
    .mp-bank__control__user:last-child {
      display: flex;
      justify-content: flex-end;
      text-align: right; }
    .mp-bank__control__calc {
      display: inline-flex;
      height: 100%;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
    .mp-bank__control__calc .mp-icon {
      opacity: .5; }
    .mp-bank__control__calc--active {
      background: #e0e0e0; }

.mp-calc {
  background: #e0e0e0;
  position: absolute;
  margin-bottom: 10vh;
  bottom: 0;
  left: 0;
  height: 80vh;
  width: 100%; }
  .mp-calc__input {
    padding: 0 30px; }
    .mp-calc__input .mp-input {
      font-family: 'Digital7';
      font-size: 35px;
      text-align: right;
      height: 10vh; }
  .mp-calc__buttons {
    height: 70vh;
    display: flex;
    flex-wrap: wrap; }
  .mp-calc__button {
    position: relative;
    width: 33.33%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .mp-calc__button__inner {
      font-size: 40px;
      color: #444; }

/*# sourceMappingURL=app.css.map */
