doctype html
html(lang='en')
    head
        title Monopoly
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        link(rel='stylesheet', href='assets/vendors/styles/bootstrap.css')
        link(rel='stylesheet', href='assets/styles/app.css')
        base(href="/")
    body
        
        ui-view
        
        script(type='text/javascript', src='assets/vendors/scripts/system.js')
        script.
            System.config({
              defaultJSExtensions: true,
              map: {
                'angular': 'assets/vendors/scripts/angular',
                'angular-ui-router': 'assets/vendors/scripts/angular-ui-router',
                'monopoly.module': 'app/monopoly.module',
                'monopoly.routes': 'app/monopoly.routes',
              },
            });
            System.import('app/monopoly');
